html, body {
    height: 100%;
}

.center-container {
min-height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

#video-container {
display: none;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

video {
max-width: 60%;
height: auto;
}

.overlay {
    position: relative;
}

.overlay video {
display: block;
}



.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
  .flash.active {
    opacity: 1;
  }


  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    z-index: 9999; /* Ensure the spinner is on top of everything */
}
